<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaiTap_QuachThiYen.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=ADMIN\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=test"
            providerName="System.Data.OleDb" />
        <add name="BaiTap_QuachThiYen.Properties.Settings.ConnectionString1"
            connectionString="Provider=SQLNCLI11;Data Source=ADMIN\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=QUANLY123"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>